.UserModal-image {
    height: 60%;
    width: 60%;
}

.UserModal-userLists {
    display: flex;
    justify-content: space-evenly;
}

.UserModal-following {
}

.UserModal-followers {
}

.UserModal-body {
    text-align: center;
}