.UserModal-image {
    height: 60%;
    width: 60%;
}

.UserModal-userLists {
    display: flex;
    justify-content: space-evenly;
}

.UserModal-body {
    text-align: center;
}

.UserModal-removeBtn {
    background-color: red;
    color: white;
}