.UserModal-image {
    height: 60%;
    width: 60%;
}

.UserModal-userLists {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.UserModal-body {
    text-align: center;
}

.UserModal-removeBtn {
    margin: 10px;
}

.static-modal {
    max-height: 100vh;
    overflow-y: auto;
}

.removeBtn {
    margin-left: 20px;
}